.form__password-instructions{
    margin-bottom: 32px;
}
.form__password-instructions p{
    margin: 0;
    padding: 0;
    padding-left: 16px;
    font-size: 11px;
    line-height: 16px;
    color: #82827D;
}