
@font-face {
  font-family: nationalMedium;
  src: url(./fonts/National2Web-Medium.woff);
}
@font-face {
  font-family: nationalRegular;
  src: url(./fonts/National2Web-Regular.woff);
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: rgb(243, 242, 242);
  font-family: 'nationalRegular';
  font-size: 15px;
  font-weight: 400;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
